 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&family=Solway:wght@400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    
}

:root{
    --dark-pink:#dd127b;
    --blue:#1CABF3;
}

.darkpink{background: var(--dark-pink);}
.darkpink1{color: var(--dark-pink);}
.bg-secondary-2{background: #e2e2e2;}
.bg-blue{background: #87CEEB;}
.blue{color: var(--blue);}



.pb-2{margin-bottom: 10%;}
.pt-20{padding-top: 50px;}
.pb-20{padding-bottom: 50px;}
.mt-10{margin-top: 5%;}
.fs-12{font-size: 12px;}
.fs-13{font-size: 14px;}
.fs-16{font-size: 16px;}
.fw-5{font-weight: 500;}
.ps-4{padding-left: 1.5rem!important;}
.ps-3{padding-left: 1rem!important;}
.text-start{text-align: left!important;}
.mb-lg-5{margin-bottom: 3rem !important;}

.btn{
    font-weight: 500;
    color: #fff;
    background: #1CABF3;
}
.btn:hover{
    font-weight: 500;
    color: var(--dark-pink);
    background: #1CABF3;
}
/* Navbar Section Start */
.navbar-brand img,
.btn{
    transition: 0.2s linear;
}
.navbar-brand img:hover,
.btn:hover{
    transform: scale(1.05);
    transition: 0.2s linear;
}
/* /Navbar Section End */

/* Hero Section Start */
.carousel-indicators
[data-bs-target]{
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: #dd127b;
}
/* Hero Section End */

/* About Us Section Start */
.about-us h4{
    padding: 20px;
    color: #dd127b;
    text-align: center;
    font-weight: bold;
    box-shadow: 0px 0px 20px rgb(232, 228, 228);
}
.about-us p{
    font-family: "roboto", sans-serif;
    line-height: 25px;
    text-align: justify;
    letter-spacing: 0.4px;
}
/* /About Us Section End */

/* enquery Section Strart */
.address{
    padding: 0px 30px;
    border-radius: 15px;
    border-top: 4px solid #0093dd;
    border-bottom: 4px solid #0093dd;
    box-shadow: 0px 0px 3px 1px #ccc;
}
.address .icon{
    font-size: 25px;
    padding: 11px 20px;
    color: #0093dd;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0px 0px 3px 1px #ccc;
}
.address .icon :hover{
    color: #dd127b;
}
.btn1{
    padding: 10px 90px;
    font-weight: 600;
    color: #fff;
    background-color: green;
}
.btn1:hover{
    background-color: #000;
    color: #fff;
}
/* /enquery Section End */

/* Footer Section Start */
footer .ul li a{
    font-size: 12px;
    padding: 10px 14px;
    border-radius: 50%;
    box-shadow: 0px 0px 3px 1px #0093dd;
    color: #fff;
    background: #0093dd;
}
footer p{
    font-family: "roboto", sans-serif;
    line-height: 25px;
    text-align: justify;
    letter-spacing: 0.4px;
}
footer .ul li a:hover{
    color: #dd127b;
}
footer .get a,
.Course .a{
    color: #fff;
}
footer .get a:hover,
.Course .a:hover{
    color: #dd127b;
}
.footer-2{
    border-top: 1px solid #fff;
}
.footer-2 a, .a{
    color: blue;
}
.footer-2 a:hover, .a:hover{
    color:#dd127b;
}
/* /Footer Section end */


/* About Section Start */
.breadcrumb{
    height: 350px;
    line-height: 350px;
    justify-content: center;
    background: url(../img/Allbannerr\ \(2\).jpg);
}
.about p{
    font-family: "roboto", sans-serif;
    line-height: 25px;
    text-align: justify;
    letter-spacing: 0.4px;
}
/* About Section End */

/* Registration Section Srart */
.registration{
   max-width: 540px;
   margin-left: 29%;
    
}
.registration form{
    padding: 10px;
}
.registration button{
    margin: 10px;
    padding: 10px 20px;
    font-size: 20px;
}
.enquire button{
  margin-left: 45%;
  padding: 5px 10px;
    font-size: 20px;

}
/* Registration Section End */